/* CSS página principal */

*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100%;
    background-image: url(../IMG/fondo.jpg);
    background-size: cover
}

.menu{
    margin-top: 2%;
    margin-left: 12.5%
}

.logo{
    position: absolute;
    top: -3%;
    margin-left: -3%;
}

header{
    margin: auto;
    width:1200px;
    font-family: "Bauhaus 93";
    text-align: center;
    position: relative;
}

ul{
    list-style: none;
    position: relative;
    left: 1.4%;
}

.nav li a{
    background-color: gray;
    color: black;
    text-decoration: none;
    padding: 4px 34px;
    display: block;
    font-size: 20px;
    min-width: 120px;
    position: relative;
    border: 1px solid black;
}

.nav li a:hover{
    background-color: blue;
    color: white;
}

.nav > li{
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
    width: 10%;
    left: 18.4%;
}

.nav li:hover > ul{
    display: block;
}

.productos{
    margin-left: 15.8%;
}

.informatica{
    margin-left: 140%;
    margin-top: -33.2%;
}

.comunicaciones{
    margin-left: 140%;
    margin-top: -34%;
}

.videojuegos{
    margin-top: -35%;
    margin-left: 140%;
}

.div3{
    height: 50%;
    width: 30%;
    position: absolute;
    top: 22%;
    left: 0.5%;
}

.img{
    margin-top: 38%;
    margin-left: 4%
}

.texto{
    border: 1px solid white;
    position: absolute;
    top: 40%;
    left: 20%;
    color: white;
    font-family: "Bauhaus 93";
    text-align: center;
}

.div5{
    position: absolute;
    height: 10%;
    bottom: 1%;
    left: 0.5%;
    color: white;
    width: 98.8%
}

.carrusel{
    position: absolute;
    height: 40%;
    width: 50%;
    right: 23%;
    top: 33%;
}

a{
    text-decoration: none;
    color: white
}

.instagram{
    margin-top: 2.7%;
    margin-left: 31%;
    font-size: 20px;
    color: white;
    font-style: italic;
    color: white;
}

.insta{
    position: absolute;
    bottom: 1%;
    left: 38%
}

.facebook{
    margin-top: -1.7%;
    margin-left: 48%;
    font-size: 20px;
    color: white;
    font-style: italic;
    color: white;
}

.face{
    position: absolute;
    bottom: 1%;
    left: 55%;
}

.gamil{
    margin-top: -1.7%;
    margin-left: 65%;
    font-size: 20px;
    font-style: italic;
    color: red;
}

.gma{
    position: absolute;
    bottom: 1%;
    left: 69.8%;
}

/* CSS página servicios*/

.servicios{
    color: white;
}

.headerS{
    margin: auto;
    width:1200px;
    font-family: "Bauhaus 93";
    text-align: center;
    position: relative;
    left: 2%;
}

ul{
    list-style: none;
    position: relative;
}

.servicios li a{
    background-color: gray;
    color: black;
    text-decoration: none;
    padding: 4px 20px;
    display: block;
    font-size: 20px;
    min-width: 120px;
    position: relative;
    border: 1px solid black;
}

.servicios li a:hover{
    background-color: blue;
    color: white;
}

.servicios > li{
    float: left;
}

.servicios li ul{
    display: none;
    position: absolute;
    width: 10%;
    left: 32%;
}

.servicios li:hover > ul{
    display: block;
}

.productos{
    margin-left: 15.8%;
}

.informatica{
    margin-left: 140%;
    margin-top: -33.2%;
}

.comunicaciones{
    margin-left: 140%;
    margin-top: -34%;
}

.videojuegos{
    margin-top: -35%;
    margin-left: 140%;
}

/* CSS ventana quienes somos */

.conozcanos{
    color: white;
}

.menuQS{
    margin: auto;
    width:1400px;
    font-family: "Bauhaus 93";
    text-align: center;
    position: relative;
    left: 10%;
}

ul{
    list-style: none;
    position: relative;
    left: -0.5%
}

.quienesSomos li a{
    background-color: gray;
    color: black;
    text-decoration: none;
    padding: 4px 31.3px;
    display: block;
    font-size: 20px;
    min-width: 120px;
    position: relative;
    border: 1px solid black;
}

.quienesSomos li a:hover{
    background-color: blue;
    color: white;
}

.quienesSomos > li{
    float: left;
}

.quienesSomos li ul{
    display: none;
    position: absolute;
    width: 10%;
    left: 15.8%;
}

.quienesSomos li:hover > ul{
    display: block;
}

.productos{
    margin-left: 13.54%;
}

.informatica{
    margin-left: 120%;
    margin-top: -28.5%;
}

.comunicaciones{
    margin-left: 120%;
    margin-top: -28.5%;
}

.videojuegos{
    margin-top: -28.5%;
    margin-left: 120%;
}

.instagram{
    margin-top: 2.7%;
    margin-left: 31%;
    font-size: 20px;
    color: white;
    font-style: italic;
    color: white;
}

.insta{
    position: absolute;
    bottom: 1%;
    left: 38%
}

.facebook{
    margin-top: -1.7%;
    margin-left: 48%;
    font-size: 20px;
    color: white;
    font-style: italic;
    color: white;
}

.face{
    position: absolute;
    bottom: 1%;
    left: 55%;
}

.gamil{
    margin-top: -1.7%;
    margin-left: 65%;
    font-size: 20px;
    font-style: italic;
    color: red;
}

.gma{
    position: absolute;
    bottom: 1%;
    left: 69.8%;
}

.p1{
    color: white;
    margin-left: 25%;
    background-color: gray;
    font-size: 20px;
    color: black;
    width: 52%;
    margin-top: 2%;
}

.p2{
    color: white;
    margin-left: 25%;
    background-color: gray;
    font-size: 20px;
    color: black;
    width: 52%;
    margin-top: 2%;
}

.p3{
    color: white;
    margin-left: 25%;
    background-color: gray;
    font-size: 20px;
    color: black;
    width: 52%;
    margin-top: 2%;
}

.p4{
    color: white;
    margin-left: 25%;
    background-color: gray;
    font-size: 20px;
    color: black;
    width: 52%;
    margin-top: 2%;
}

.p5{
    color: white;
    margin-left: 25%;
    background-color: gray;
    font-size: 20px;
    color: black;
    width: 52%;
    margin-top: 2%;
}

/* CSS ventana productos */

.Ptitulo{
    color: white;
}

.headerP{
    margin: auto;
    width:1400px;
    font-family: "Bauhaus 93";
    text-align: center;
    margin-left: 1.1%;
}

ul{
    list-style: none;
    position: relative;
}

.menuP li a{
    background-color: gray;
    color: black;
    text-decoration: none;
    padding: 4px 31px;
    display: block;
    font-size: 20px;
    min-width: 120px;
    position: relative;
    border: 1px solid black;
}

.menuP li a:hover{
    background-color: blue;
    color: white;
}

.menuP > li{
    float: left;
}

.menuP li ul{
    display: none;
    position: absolute;
    width: 10%;
    left: 15.8%;
}

.menuP li:hover > ul{
    display: block;
}

.productosP{
    margin-left: 27.88%;
}

.informaticaP{
    margin-left: 116%;
    margin-top: -28.5%;
}

.comunicacionesP{
    margin-left: 116%;
    margin-top: -28.5%;
}

.videojuegosP{
    margin-top: -28.5%;
    margin-left: 116%;
}

/* CSS ventana Compra */

.headerCom{
    margin: auto;
    width:1400px;
    font-family: "Bauhaus 93";
    text-align: center;
    position: absolute;
    left: 9%;
}

ul{
    list-style: none;
}

.compra li a{
    background-color: gray;
    color: black;
    text-decoration: none;
    padding: 4px 31px;
    display: block;
    font-size: 20px;
    min-width: 120px;
    position: relative;
    border: 1px solid black;
}

.compra li a:hover{
    background-color: blue;
    color: white;
}

.compra > li{
    float: left;
}

.compra li ul{
    display: none;
    position: absolute;
    width: 10%;
    left: 15.8%;
}

.compra li:hover > ul{
    display: block;
}

.informatica{
    margin-left: 120%;
    margin-top: -28.5%;
}

.comunicaciones{
    margin-left: 120%;
    margin-top: -28.5%;
}

.videojuegos{
    margin-top: -28.5%;
    margin-left: 120%;
}

.formularioCompra{
    background-color: gray;
    color: black;
    margin-top: 10%
}

/* CSS ventana contacto */

.Ptitulo{
    color: white;
}

.headerC{
    margin: auto;
    width:1200px;
    font-family: "Bauhaus 93";
    text-align: center;
    position: absolute;
    left: 14%;
}

ul{
    list-style: none;
    position: relative;
}

.contacto li a{
    background-color: gray;
    color: black;
    text-decoration: none;
    padding: 4px 20px;
    display: block;
    font-size: 20px;
    min-width: 120px;
    position: relative;
    border: 1px solid black;
}

.contacto li a:hover{
    background-color: blue;
    color: white;
}

.contacto > li{
    float: left;
}

.contacto li ul{
    display: none;
    position: absolute;
    width: 10%;
    left: 15.8%;
}

.contacto li:hover > ul{
    display: block;
}

.informatica{
    margin-left: 120%;
    margin-top: -28.5%;
}

.comunicaciones{
    margin-left: 120%;
    margin-top: -28.5%;
}

.videojuegos{
    margin-top: -28.5%;
    margin-left: 120%;
}

.formularioC{
    background-color: gray;
    color: black;
    margin-top: 8%;
}

.mensaje{
    color: black;
    position: absolute;
    left: 42%;
    top:  50%
}


/* CSS ventana instalaciones */

.headerI{
    margin: auto;
    width:1400px;
    font-family: "Bauhaus 93";
    text-align: center;
    position: absolute;
    left: 1.2%;
}

ul{
    list-style: none;
    position: relative;
}

.instalaciones li a{
    background-color: gray;
    color: black;
    text-decoration: none;
    padding: 4px 31.3px;
    display: block;
    font-size: 20px;
    min-width: 120px;
    position: relative;
    border: 1px solid black;
}

.instalaciones li a:hover{
    background-color: blue;
    color: white;
}

.instalaciones > li{
    float: left;
}

.instalaciones li ul{
    display: none;
    position: absolute;
    width: 10%;
    left: 15.8%;
}

.instalaciones li:hover > ul{
    display: block;
}

/* CSS ventana PCs */

.Ptitulo{
    color: white;
}

.headerI{
    margin: auto;
    width:1400px;
    font-family: "Bauhaus 93";
    text-align: center;
    position: absolute;
    left: 1.2%;
}

ul{
    list-style: none;
    position: relative;
}

.menuPcs li a{
    background-color: gray;
    color: black;
    text-decoration: none;
    padding: 4px 20.4px;
    display: block;
    font-size: 20px;
    min-width: 120px;
    position: relative;
    border: 1px solid black;
}

.menuPcs li a:hover{
    background-color: blue;
    color: white;
}

.menuPcs > li{
    float: left;
}

.menuPcs li ul{
    display: none;
    position: absolute;
    width: 10%;
    left: 15.8%;
}

.menuPcs li:hover > ul{
    display: block;
}

.intro{
    color: white;
    margin-top: 9%;
}

.lenovo{
    color: white;
    text-align: center;
}

.imgLenovo{
    width: 40%;
    height: 50%;
    margin-left: 35%
}

.imgHP{
    width: 40%;
    height: 50%;
    margin-left: 35%
}

.imgMsi{
    width: 20%;
    height: 50%;
    margin-left: 35%
}